body {
  padding: 100px;
}

/* =============================
CAROUSEL
================================ */

#foliocarousel {
  background-image: none;
  background-color: none;
  text-align: center;
  align-content: center;
  align-items:center;
  padding: 40px;
}

.carousel-indicators {
  bottom: 0;
}


.carousel-inner img {
  margin: auto;
}

.img-responsive {
  max-width: 200px;
  max-height: 500px;
  border-radius: 1200px;
}

/* =============================
COLUMNS
================================ */

.row {
  align-items: center;
}
.colly {
max-width: 400px;
text-align: center;
}

.colly img {
  margin: auto;
  align-self: center;
}

.smallimg {
  padding: 40px;
  border-radius: 180px;
}

/* =============================
PROJECTS
================================ */

.animal {
  width: 300px;
  border: 1px solid grey;
  border-radius: 45px;
  float: left;
  padding: 50px;
  font-family:sans-serif;
    }

.navbar {

}

/* =============================
MEDIA QUERIES
================================ */

@media screen and (max-width:991px) {
  body {
    padding: 50px;
  }

}
