body {
  padding: 100px;
}

#foliocarousel {
  background-image: none;
  text-align: center;
}


.colly {
max-width: 400px;
text-align: center;
}

.smallimg {
  padding: 40px;
  border-radius: 180px;
}

@media screen and (max-width:991px) {
  body {
    padding: 50px;
  }
  .smallimg {
    float: left;
  }
  #foliocarousel {
    padding: 20px;
  }
}
